@font-face {
    font-family: domain;
    src: url(./domain.ttf);
}
@font-face {
    font-family: Editorial;
    src: url(./PPEditorialNew-Regular-BF644b214ff145f.otf);
}

@font-face {
    font-family: canopee;
    src: url(./canopee.ttf);
}


*{
margin: 0;padding: 0;box-sizing: border-box;
}
.lock{
    display: none;
   
}
html,body{
    height: 100%;
    width: 100%;
    /* background-color: hsl(31.76,11.72%,71.57%); */
}
.main{
   height: 350vh;
    width: 100%;
    background-color: hsl(31.76,11.72%,71.57%);
}


.nav{
    width: 100%;
    height: 60px;
    /* background-color: #764848; */
    display: flex;
    padding-left: 2vw;
    padding-right: 2vw;
    border-bottom: 1px solid black
    ;
    justify-content: space-between;
    align-items: center;
}
.nav i{
    font-size: 2.5vw;
}
.nav h4{
    font-size: 1vw;
    font-weight: 300;
    font-family: Editorial,serif;
}
.page1{
    width: 100%;
    height: 50vh;
    /* background-color: red; */
    padding-top: 4vh;
 display: flex;
    
    padding-bottom: 4vh;
    padding-right: 6vh;
    padding-left: 6vh;
}
.p1l{
    height:42vh ;
    width: 33vw;
   
    padding-right: 3vw;
    border-right: 1px solid rgb(0, 0, 0);
    /* background-color: pink; */
}
.img{
    height:25vh ;
   
background-image: url(https://cdn.prod.website-files.com/5f9085a4041dd5427c5ac8ae/615d9672cc65f12c9ab25f21_thumbnail-small.jpeg);
background-position: center;
background-size:cover;

}
.p1l img{
    position: relative;
    top: 1vh;
}
.p1l p{
    font-family: Editorial,serif;
    top: 2vh;
    font-size: 2.7vh;
    position: relative;
   font-weight: 200;
}

.p1c{
    height:42vh ;
    width: 25vw;
    position: relative;
    bottom: 39.5vh;
    left: 35vw;
    /* background-color: rgb(2, 1, 1); */
}


.p1r{
    height:42vh ;
    width: 33vw;
    bottom: 81.5vh;
    left: 60vw;
    padding-left: 3vw;
    border-left: 1px solid #000;
    position: relative;
    /* background-color: pink; */
}
.img1{
    height:25vh ;
   
background-image: url(https://cdn.prod.website-files.com/5f9085a4041dd5427c5ac8ae/645b5439577bd35377de8c43_thumbnail-small.webp);
background-position: center;
background-size:cover;

}
.bigimg{
    width: 100%;
/* background-color: #6c3d3d; */
    height: 60vh;
    top: 5vh;
    background-image: url(/Screenshot_2024-10-22_100808-removebg.png);
background-position: center;
background-size:cover;
    position: relative;
}
.page2{
    top: 10vh;
    position: relative;
    padding-right: 2vw;
    padding-left: 3vh;
    width: 100%;
    display: flex;
    height: 165vh;
    /* background-color: rgb(70, 58, 58); */
}
.lt{
    width: 40%;
    border-right: 1px solid black;
    height: 100%;
    /* background-color: #fff; */
    padding-right: 1vw;
}
.imgtop{
    top: 2vh;
    height: 40vh;
    background-image: url(/Screenshot_2024-10-25_000914-removebg-preview.png);
background-position: center;
background-size:cover;
    position: relative;
}
.imgc{
    top: 7vh;
    height: 75vh;
    left: 1.5vw;
    width: 90%;
   outline: 1px solid #000;
    background-image: url(/Screenshot\ 2024-10-25\ 000925.png);
background-position: center;
background-size:cover;
    position: relative;

}
.para{
    top: 8vh;
    position: relative;
}
.para img{
    top: 3vh;
    float: left;
    position: relative;
    width: 5vw;
}
.para p{
    top: 3vh;
   font-size: 5vh;
   letter-spacing: -0.1vh;
    position: relative;
    font-family: Editorial,serif;
    font-weight: 100;
}

.rt{
width: 60vw;
height: 165vh;
/* background-color: #fff; */
padding-left: 2vw;
   }
.imgt{
width: 100%;
height: 87vh;
outline: 0.5px solid #000;
background-image: url(/Screenshot\ 2024-10-25\ 000936.png);
background-position: center;
background-size:cover;
    position: relative;

}
.imgb{
    width: 100%;
    height: 60vh;
    top: 10vh;
    position: relative;
    /* outline: 0.5px solid #000; */
    background-image: url(/Screenshot_2024-10-25_000946-removebg-preview.png);
    background-position: center;
    background-size:cover;
        position: relative;
    
    }

.page3{
    height: 50vh;
    width: 100%;
    top: 15vh;
    display: flex;
    position: relative;
    /* background-color: black; */
}
.imgleft{
    background-image: url("/Screenshot_2024-10-27_175413-removebg-preview.png");
    background-position: center;
    background-size:cover;
        position: relative;
        height: 50vh;
        left: 1.5vw;
        background-color: #1B1B19;
    width: 70%;
}
.imgright{
    background-image: url("/Screenshot 2024-10-27 175526.png");
    background-position: center;
    background-size:cover;
        position: relative;
        height: 50vh;
        left: 6vw;
        background-color: #1B1B19;
    width: 20%;
}

@media screen and (max-width: 1000px) {
.lock{
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    background-color:  hsl(31.76,11.72%,71.57%);
}
h1{
    position: relative;
   text-align: center;
   top: 50%;
}
.main{
    display: none;
    height: 1000%;
     width: 100%;
     background-color: hsl(31.76,11.72%,71.57%);
 }
}